
  
$break-small: 940px;
$break-large: 2400px;


  html, body{
        font-family: 'Open Sans', sans-serif;
       // background: #EEEFF4;
        height:100%;
        margin: 0;
        padding:0;
      }
   .frontpage h1 a{
        width: 300px;
        color: #000;
        padding: 15px 20px;
        font-size: 22px;
        font-weight: normal;
        margin-left: 20px;
        margin-top: 25px;
        border-bottom:4px solid #5092E0;
        text-decoration: none;

      }

      .frontpage h1{
        text-align: left;
        display: inline-block;
        display: none;
      }


.activity-header{
	line-height: 43px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    top: 0px;
    background: #fff;
    max-width:970px;
    z-index: 99999;
    padding:20px 0px 0px;

    .activity-header-title{
		margin-bottom: 8px;
	    width: 360px;
	    padding: 12px  0px 0px 20px;
	    height: 43px;
	    float: left;
	    display: block;
	    color: #3C6EA8;

	}
	.activity-header-month{
					float: left;
				 //   position: relative;
				    //left: 178px;

				.month{
				    width: 60px;
				    display: block;
				    padding: 14px 12px 10px;
				    margin-left: 8px;
				    float: left;
				    font-weight: normal;
				    text-align: center;
				    height: 43px;
				    color: #3C6EA8;
				}
				@media screen and (max-width: $break-small) {
					display: none;
				}
		} 
}

.container{
	position: relative;
	width: 100%;
    max-width: 960px;
    margin: 0px auto 50px;
    @media screen and (max-width: $break-small) {
    	min-width: 100%;
    }
}

.activity-bundle{
	display:block;
	position: relative;
	margin:100px 0px 50px;
	width:970px;



@media screen and (max-width: $break-large) {
	.mobile{
		display: none;
	}
	.desktop{
		    display: inline-block;
    		width: 100%;	
	}
	.events{

			display: flex;
			margin: 10px 0px;

		.event-name{
					    width: 37%;
					    float: left;
					    font-size: 20px;
					    background: #F3F3F3;
					    padding: 10px 0px 10px 20px;
					    text-indent: 0px;
					    line-height: 34px;

					&.long{
						height: 170px;
					}
			}


    			.date{
    				background: #f3f3f3;
					width: 60px;
					min-height: 66px;
					font-size: 20px;
					padding: 20px 12px 0px;
					float: left;
					margin: 0px 4px;
					color:#FFF;
					text-align: center;
					line-height: 50px;
					 
					 &.active{
					 	background-color: #3C6EA8;
				 }
    			}

			.long{
					.date{
						margin-bottom:8px;
						padding:10px;
						min-height: 174px;
						width: 64px;
						line-height:34px;
						span{
							display: block;
							//margin: 7px 0px;
						}
					}
			}
	}
			


#situpbundle{
	margin-bottom:100px;
			.event-dates{
				.date{
					margin-left: 0px;
					margin-right: 2px;					
				}
			}

		}

}

#faggruppebundle{
	margin-bottom:100px;
}




@media screen and (max-width: $break-small) {
	.desktop{
		// display: none;
	}
	.desktop{
		display: block;
		.event{



		}

			.event-name{
					    margin-left: 0px;
					    margin-right: 0px;
					    margin-bottom: 4px;
					    position: relative;
					    font-size: 1.8em;
					    display: table;
					    // background:red;
					    clear: both;
					    width: 100%;
					}
			.event-dates{
					background-color: #3C6EA8;
				    padding-top: 8px;
				    padding-bottom: 8px;
				    margin-bottom: 16px;
				    clear: both;
				    width: 100%;
				 .date{
					 	    clear: both;
						    width: auto;
						    text-align: left;
						    margin-top: 0px;
						    font-size: 1.4em;
						    height: auto;
							background:none;
					        display: block;
						    color: white;
						    padding:6px 20px;
						   &.active{

						   }
						   &:empty{
						   	display: none;
						  }

				 }
			}

	}
}
}
 
