  <div ng-controller="sitUpCtrl">
  <div class="activity-header-title">
    <h1>
        {{title}}
    </h1>
    
    </div>
  <div class="activity-bundle" id="situpbundle">
   <div ng-repeat="(key, value) in dict" class="events">
        <div id="sitUpEventName" class="event-name long">
            {{ key }}
        </div>
        <div class="event-dates long">
        <div class="date">
        </div>
        <div class="date active">
          <span ng-repeat="(key, value) in value | filter : 'feb'">
           {{value.date}}
         </span>
        </div>
        <div class="date active">
          <span ng-repeat="(key, value) in value | filter : 'mar'">
           {{value.date}}
         </span>
        </div>
        <div class="date active">
          <span ng-repeat="(key, value) in value | filter : 'apr'">
           {{value.date}}
         </span>
        </div>
        <div class="date active">
          <span ng-repeat="(key, value) in value | filter : 'mai'">
           {{value.date}}
         </span>
        </div>
        <div class="date active">
          <span ng-repeat="(key, value) in value | filter : 'jun'">
           {{value.date}}
         </span>
        </div>

      </div>
  
<!-- activity_bundle end -->
  </div>


<!-- Container end -->
</div>
</div>

<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>


